<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">
	<!-- START OF MYBATIS -->


 	
    <bean id="postgresDataSource" destroy-method = "close"
    	class = "org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/webserver" />
		<property name="username" value="webserver" />
		<property name="password" value="webserver" />
	</bean>



	<bean id="webServerSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="postgresDataSource" />
		<property name="mapperLocations" value="WEB-INF/mybatis/mapper/*.xml" />
		<property name="configLocation" value="WEB-INF/mybatis/config/mybatis-config.xml" />
	</bean>


	<bean id="webServerTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="postgresDataSource" />
	</bean>

	<!--<tx:annotation-driven transaction-manager="webServerTransactionManager" />-->

	<bean id="webServerMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="mybatis.dao" />
		<property name = "sqlSessionFactoryBeanName" value="webServerSqlSessionFactory" />
	</bean>

	<bean id="applicationContextProvider" class="util.ApplicationContextProvider"/>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="venue.booking.dipl@gmail.com" />
		<property name="password" value="Qwe123asd" />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<bean id="mailMail" class="notification.email.MailMail">
		<property name="mailSender" ref="mailSender" />
	</bean>



</beans>