<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

    <typeAliases>

        <typeAlias alias="2Long" type="mybatis.handler.TwoLongParameters"/>
        <typeAlias alias="LongInt" type="mybatis.handler.LongIntParameters"/>
        <typeAlias alias="2Date2Int" type="mybatis.handler.TwoDateTwoIntParams"/>
        <typeAlias alias="2Date2Int1Long" type="mybatis.handler.TwoDateTwoIntOneLong"/>



        <typeAlias alias="Long" type="java.lang.Long"/>
        <typeAlias alias="String" type="java.lang.String"/>

        <typeAlias alias="AppUser" type="mybatis.model.complex.AppUser"/>
        <typeAlias alias="Comment" type="mybatis.model.complex.CommentComplex"/>
        <typeAlias alias="Event" type="mybatis.model.complex.Event"/>
        <typeAlias alias="Region" type="mybatis.model.complex.Region"/>
        <typeAlias alias="ReservationWithUser" type="mybatis.model.complex.ReservationWithUser"/>
        <typeAlias alias="UserEventFilter" type="mybatis.model.complex.UserEventFilter"/>

        <typeAlias alias="Comment_B" type="mybatis.model.basic.Comment"/>
        <typeAlias alias="Country_B" type="mybatis.model.basic.Country"/>
        <typeAlias alias="Address_B" type="mybatis.model.basic.Address"/>
        <typeAlias alias="Event_B" type="mybatis.model.basic.Event"/>
        <typeAlias alias="EventFilter_B" type="mybatis.model.basic.EventFilter"/>
        <typeAlias alias="EventType_B" type="mybatis.model.basic.EventType"/>
        <typeAlias alias="EventTypeMN_B" type="mybatis.model.basic.EventTypeMN"/>
        <typeAlias alias="LocalityFilter_B" type="mybatis.model.basic.LocalityFilter"/>
        <typeAlias alias="Reservation_B" type="mybatis.model.basic.Reservation"/>
        <typeAlias alias="UserRole_B" type="mybatis.model.basic.UserRole"/>
        <typeAlias alias="UserRoleMN_B" type="mybatis.model.basic.UserRoleMN"/>
        <typeAlias alias="Notification_B" type="mybatis.model.basic.Notification"/>

    </typeAliases>

    <!-- definice specialnich mapperu pro urcity datovy typy a pro jakej case se maj pouzit z obou stran -->
    <!-- 		<typeHandlers> -->
    <!-- 			<typeHandler handler="org.apache.ibatis.type.BooleanTypeHandler" javaType="java.lang.Boolean" jdbcType="DECIMAL"/> -->
    <!-- 			<typeHandler handler="cz.grupid.mybatis.handler.DateTimeTypeHandler" javaType="org.joda.time.DateTime" jdbcType="TIMESTAMP" /> -->
    <!-- 			<typeHandler handler="cz.grupid.mybatis.handler.DateTypeHandler" javaType="java.util.Date" jdbcType="TIMESTAMP" /> -->
    <!-- 			<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="cz.grupid.enums.ReportRepeatPeriod"/> -->
    <!-- 			<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="cz.grupid.enums.ReportLifetime"/> -->
    <!-- 			<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="cz.grupid.enums.ReportStatus"/> -->
    <!-- 		</typeHandlers> -->

</configuration>

