<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.dao.RegionMapper" >




  <resultMap id="CountryResultMap" type="Country_B" >

    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="iso2_code" property="iso2Code" jdbcType="VARCHAR" />
    <result column="iso3_code" property="iso3Code" jdbcType="VARCHAR" />
    <result column="iso_num_code" property="isoNumCode" jdbcType="INTEGER" />
    <result column="dial_code" property="dialCode" jdbcType="INTEGER" />
    <result column="iso_full_code" property="isoFullCode" jdbcType="VARCHAR" />
  </resultMap>





  <resultMap id="BaseResultMap" type="Region" >

    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area1" property="area1" jdbcType="VARCHAR" />
    <result column="id_country" property="idCountry" jdbcType="BIGINT" />

  </resultMap>


  <resultMap id="RegionWithCountryMap" type="Region" >

    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area1" property="area1" jdbcType="VARCHAR" />
    <result column="id_country" property="idCountry" jdbcType="BIGINT" />

    <association property="country" javaType="mybatis.model.basic.Country" >
      <id column="country_id" property="id" jdbcType="BIGINT" />
      <result column="country_name" property="name" jdbcType="VARCHAR" />
    </association>

  </resultMap>


  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 11 15:22:30 CET 2015.
    -->
    region.id, region.name,region.area1, region.id_country
  </sql>


  <select id="selectFilteredRegionsByUserId" resultMap="RegionWithCountryMap" parameterType="java.lang.Long">

    select
    <include refid="Base_Column_List" />, country.name as country_name, country.id as country_id
    from webserver.region
    join webserver.locality_filter on webserver.locality_filter.id_region = webserver.region.id
    join webserver.country on region.id_country = country.id
    where locality_filter.id_user = #{userId,jdbcType=BIGINT}
    order by region.id
  </select>


  <select id="selectFilteredRegionsByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >

    select
    <include refid="Base_Column_List" />
    from webserver.region
    join webserver.locality_filter on webserver.locality_filter.id_region = webserver.region.id
    join webserver.app_user on webserver.locality_filter.id_user = webserver.app_user.id
    where webserver.app_user.username = #{username,jdbcType=VARCHAR}
    order by region.id
  </select>



  <select id="selectCountryRegionsByCountryId" resultMap="BaseResultMap"  parameterType="java.lang.Long">

    select
    <include refid="Base_Column_List" />
    from webserver.region
    join country on region.id_country = country.id
    where country.id = #{countryId,jdbcType=BIGINT}
  </select>

  <select id="selectByArea1" resultMap="RegionWithCountryMap">
    select
    <include refid="Base_Column_List" />, country.id as country_id, country.name as country_name
    from webserver.region
    join country on region.id_country = country.id
    where region.area1 = #{area1,jdbcType=VARCHAR}
  </select>

  <select id="selectAllRegions" resultMap="RegionWithCountryMap">

    select
    <include refid="Base_Column_List" />, country.id as country_id, country.name as country_name
    from webserver.region
    join country on region.id_country = country.id
    order by region.id
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 11 15:22:30 CET 2015.
    -->
    select 
    <include refid="Base_Column_List" />
    from webserver.region
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 11 15:22:30 CET 2015.
    -->
    delete from webserver.region
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="Region" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 11 15:22:30 CET 2015.
    -->
    insert into webserver.region (id, name, id_country
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{idCountry,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="Region" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 11 15:22:30 CET 2015.
    -->
    insert into webserver.region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idCountry != null" >
        id_country,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCountry != null" >
        #{idCountry,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Region" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 11 15:22:30 CET 2015.
    -->
    update webserver.region
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCountry != null" >
        id_country = #{idCountry,jdbcType=BIGINT},
      </if>
      <if test="area1 != null" >
        area1 = #{area1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="Region" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 11 15:22:30 CET 2015.
    -->
    update webserver.region
    set name = #{name,jdbcType=VARCHAR},
      id_country = #{idCountry,jdbcType=BIGINT},
      area1 = #{area1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>